<p class="warning_message">Lista notatek wątku</p>

<form method="post" action="/new/note/{{ thread_id }}">
            <input type="submit" name="new" value="Stwórz nową notatke" />
</form>

{% if notes %}
        <table style="width: 100%;">
        {% for note in notes %}
            <tr>
                    <td><p><a href="/show/note/{{ note.note_id }}" class="message_list">{{ note.text }} </a></p></td>
                    <td style="text-align: right;">Autor: <a href="" class="message_list">{{ note.login }}</a></td>
            </tr>
        {% endfor %}
        </table>

{% else %}
        <p class="warning_message">Brak notatek do wyświetlenia</p>
{% endif %}